<%= form_for @subject  do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <th>  <%= f.label :name %></th>
     <td> <%= f.text_field :name, class: 'form-control' %></td>

     <th> <%= f.label :body %></th>
    <td> <%= f.text_field :body, class: 'form-control' %></td>

    <th><%= f.label :position %></th>
    <td><%= f.select(:position, 1..@subject_count+1) %></td>
</table>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
