<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_subject_post_path(@subject.id,@post) %> 
<%= link_to 'Back', subject_posts_path(@subject.id) , subjct_id: @subject.id %>

<div class="pages show">
  <h2>Show Posts</h2>

  <table summary="Page detail view">
    <tr>
      <th>Subject ID</th>
      <td><%= @post.subject_id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @post.title %></td>
    </tr>
    
    <tr>
      <th>Context</th>
      <td><%= @post.context %></td>
    </tr>
    
    
  </table>

</div>